html {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(214, 250, 255);
}

.draw-canvas {
    height: 500px;
    width: 500px;
    display: block;
    position: fixed;
    z-index: 2;
}

.sun-canvas {
    height: 60px;
    width: 60px;
    border: 0px solid rgb(253, 236, 127);
    border-radius: 50%;
    background-color: rgb(254, 238, 138);
    position: fixed;
    top: 0px;
    left: 0px;
    box-shadow: 0px 0px 20px 10px rgb(254, 241, 158);
    z-index: 1;
}

.moon {
    width: 125px;
    height: 125px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.ground {
    width: 100%;
    position: fixed;
    background-color: rgb(247, 237, 229);
    transform: skewY(-5deg);
    z-index: 2;
}

.clannad {
    height: 80px;
    width: 100px;
    position: fixed;
    z-index: 1;
}

.cl-body {
    width: 100px;
    height: 80px;
    position: absolute;
    top: 0px;
    left: 0px;
}

.cl-eye {
    height: 70px;
    width: 90px;
    position: absolute;
    top: 0px;
    left: 0px;
}

.star-parent {
    width: 100%;
    height: 65%;
    transform: rotate(-5deg);
    position: fixed;
    top: -30px;
    left: -5px;
    z-index: 0;
}

.star {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 180px;
    left: 550px;
}

.cloud-parent {
    width: 100%;
    height: 65%;
    transform: rotate(-5deg);
    position: fixed;
    top: -30px;
    left: -5px;
    z-index: 0;
}

.cloud {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 180px;
    left: 550px;
    transform: scale(8);
}

.cloud svg path {
    transform: translate(5px, 5px);
}