html {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(214, 250, 255);
}

.draw-canvas {
    height: 550px;
    width: 500px;
    display: block;
    position: fixed;
    z-index: 2;
}

.sun-canvas {
    height: 60px;
    width: 60px;
    border: 0px solid rgb(253, 236, 127);
    border-radius: 50%;
    background-color: rgb(254, 238, 138);
    position: fixed;
    top: 0px;
    left: 0px;
    box-shadow: 0px 0px 20px 10px rgb(254, 241, 158);
    z-index: 1;
    transition: box-shadow 1s;
}

.sun-canvas:hover {
    box-shadow: 0px 0px 30px 15px rgb(254, 241, 158);
}

.moon {
    width: 125px;
    height: 125px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.ground {
    width: 100%;
    position: fixed;
    background-color: rgb(247, 237, 229);
    transform: skewY(-5deg);
    z-index: 2;
}

.clannad {
    height: 80px;
    width: 100px;
    position: fixed;
    z-index: 1;
}

.cl-body {
    width: 100px;
    height: 80px;
    position: absolute;
    top: 0px;
    left: 0px;
}

.cl-eye {
    height: 70px;
    width: 90px;
    position: absolute;
    top: 0px;
    left: 0px;
}

.star-parent {
    width: 100%;
    height: 65%;
    transform: rotate(-5deg);
    position: fixed;
    top: -30px;
    left: -5px;
    z-index: 0;
}

.star {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 180px;
    left: 550px;
}

.cloud-parent {
    width: 100%;
    height: 65%;
    transform: rotate(-5deg);
    position: fixed;
    top: -30px;
    left: -5px;
    z-index: 0;
}

.cloud {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 180px;
    left: 550px;
    transform: scale(8);
}

.cloud svg path {
    transform: translate(5px, 5px);
}

.star-round {
    width: 0;
    height: 0;
    border: 0px solid rgb(255, 250, 222);
    border-radius: 1px;
    background-color: rgb(255, 250, 222);
    box-shadow: 0 0 1px 1px rgb(255, 250, 222);
    position: absolute;
    top: 100px;
    left: 100px;
}

.load-anima {
    background-color: white;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 5000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cl-mama {
    transform: scale(0.9) translateY(12px);
}

.cl-ko {
    transform: scale(0.5) translateY(97px);
}

.cl-mama .cl-anima svg path {
    fill: rgb(245, 212, 222);
    stroke: rgb(208, 154, 164);
}

.cl-anima {
    width: 110px;
    height: 150px;
    position: relative;
    animation: jump 3s ease;
    /* animation-direction: alternate; */
    animation-iteration-count: infinite;
}

.cl-anima svg path {
    animation: jump 3s ease;
    /* animation-direction: alternate; */
    animation-iteration-count: infinite;
}

.load-shadow {
    width: 0px;
    height: 0px;
    border: 0px solid rgb(184, 184, 184);
    border-radius: 50%;
    background-color: rgb(184, 184, 184);
    box-shadow: 0 0 30px 30px rgb(184, 184, 184);
    position: relative;
    margin: 0 auto;
    bottom: -20px;
    transform: rotateX(70deg);
    z-index: -1;
    animation: scale 3s linear;
    animation-iteration-count: infinite;
}

.cl-mama .cl-anima {
    animation: jump 3s ease 0.3s;
    animation-iteration-count: infinite;
}

.cl-mama .cl-anima svg path {
    animation: jump 3s ease 0.3s;
    animation-iteration-count: infinite;
}

.cl-mama .load-shadow {
    animation: scale 3s linear 0.3s;
    animation-iteration-count: infinite;
}

.cl-ko .cl-anima {
    animation: jump 3s ease 0.5s;
    animation-iteration-count: infinite;
}

.cl-ko .cl-anima svg path {
    animation: jump 3s ease 0.5s;
    animation-iteration-count: infinite;
}

.cl-ko .load-shadow {
    animation: scale 3s linear 0.5s;
    animation-iteration-count: infinite;
}

.anima-opacity {
    animation: disappear 1s linear;
}

@keyframes disappear {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.anima-show {
    animation: cl-show 1s linear;
}

@keyframes cl-show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes scale {
    0% {
        transform: rotateX(70deg) scaleX(1.2);
    }
    10% {
        transform: rotateX(70deg) scaleX(1.2);
        animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1.0);
    }
    35% {
        transform: rotateX(70deg) scaleX(0.7);
        animation-timing-function: cubic-bezier(0.9, 0.0, 1.0, 1.0);
    }
    70% {
        transform: rotateX(70deg) scaleX(1.2);
    }
    100% {
        transform: rotateX(70deg) scaleX(1.2);
    }
}

@keyframes jump {
    0% {
        transform: rotateX(0deg);
        top: 100px;
        d: path("M 5 55         A 50 50 0 0 1 105 55   C 105 67, 95 70, 90, 70  H 20      C 15 70, 5 67, 5 55     Z");
    }
    10% {
        transform: rotateX(40deg);
        top: 100px;
        animation-timing-function: cubic-bezier(0.0, 0.0, 0.1, 1.0);
    }
    25% {
        transform: rotateX(0deg);
    }
    35% {
        top: -50px;
        animation-timing-function: cubic-bezier(0.9, 0.0, 1.0, 1.0);
    }
    67% {
        d: path("M 5 55 A 50 50 0 0 1 105 55     C 105 105, 55 105, 55, 105  H 55     C 5 105, 5 55, 5 55   Z");
    }
    70% {
        top: 100px;
        d: path("M 5 55         A 50 50 0 0 1 105 55   C 105 67, 95 70, 90, 70  H 20      C 15 70, 5 67, 5 55     Z");
    }
    100% {
        transform: rotateX(0deg);
        top: 100px;
        d: path("M 5 55         A 50 50 0 0 1 105 55   C 105 67, 95 70, 90, 70  H 20      C 15 70, 5 67, 5 55     Z");
    }
}