body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(214, 250, 255);
}

.draw-canvas {
    height: 500px;
    width: 500px;
    display: block;
    margin: 0 auto;
    margin-top: 150px;
    position: relative;
    z-index: 1;
}

.sun-canvas {
    height: 60px;
    width: 60px;
    border: 0px solid rgb(253, 236, 127);
    border-radius: 50%;
    background-color: rgb(254, 238, 138);
    position: fixed;
    top: 0px;
    left: 0px;
    box-shadow: 0px 0px 20px 10px rgb(254, 241, 158);
}

.ground {
    height: 45%;
    width: 100%;
    position: fixed;
    bottom: -85px;
    background-color: rgb(247, 237, 229);
    transform: skewY(-5deg);
}